.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.left {
  float: left;
  padding: 10%;
}

.right {
  float: right;
  padding: 10%;
}
.products {
  text-align: center;
}
th {
  padding: 5%;
}
.table_title{
  color: cyan;
}
.item {
  font-size: 70%;
}
.item_name{
  width: 150%;
}
.qty {
  width: 500%;
}
.cart {
  display: flex;
  flex-direction: column;
}
.cart li{
  color: green;
  list-style: none;
  padding: 5%;
}
